<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>ControleFinanceiro</display-name>

	<!-- Welcome file list -->
	<welcome-file-list>
		<!-- Contém apenas um redirecionamento para main.action -->
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<description></description>
		<display-name>ContaServlet</display-name>
		<servlet-name>ContaServlet</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.ContaListar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContaServlet</servlet-name>
		<url-pattern>/conta.listar</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ContaInserir</display-name>
		<servlet-name>ContaInserir</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.ContaInserir</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContaInserir</servlet-name>
		<url-pattern>/conta.inserir</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ContaExcluir</display-name>
		<servlet-name>ContaExcluir</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.ContaExcluir</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContaExcluir</servlet-name>
		<url-pattern>/conta.excluir</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ContaAlterar</display-name>
		<servlet-name>ContaAlterar</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.ContaAlterar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContaAlterar</servlet-name>
		<url-pattern>/conta.alterar</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FormaPagamentoListar</display-name>
		<servlet-name>FormaPagamentoListar</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.FormaPagamentoListar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormaPagamentoListar</servlet-name>
		<url-pattern>/formapagamento.listar</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FormaPagamentoInserir</display-name>
		<servlet-name>FormaPagamentoInserir</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.FormaPagamentoInserir</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormaPagamentoInserir</servlet-name>
		<url-pattern>/formapagamento.inserir</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FormaPagamentoAlterar</display-name>
		<servlet-name>FormaPagamentoAlterar</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.FormaPagamentoAlterar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormaPagamentoAlterar</servlet-name>
		<url-pattern>/formapagamento.alterar</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>FormaPagamentoExcluir</display-name>
		<servlet-name>FormaPagamentoExcluir</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.FormaPagamentoExcluir</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormaPagamentoExcluir</servlet-name>
		<url-pattern>/formapagamento.excluir</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModeloOrcamentoListar</display-name>
		<servlet-name>ModeloOrcamentoListar</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.ModeloOrcamentoListar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModeloOrcamentoListar</servlet-name>
		<url-pattern>/modelo.orcamento.listar</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModeloOrcamentoInserir</display-name>
		<servlet-name>ModeloOrcamentoInserir</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.ModeloOrcamentoInserir</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModeloOrcamentoInserir</servlet-name>
		<url-pattern>/modelo.orcamento.inserir</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModeloOrcamentoAlterar</display-name>
		<servlet-name>ModeloOrcamentoAlterar</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.ModeloOrcamentoAlterar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModeloOrcamentoAlterar</servlet-name>
		<url-pattern>/modelo.orcamento.alterar</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OrcamentoModeloExcluir</display-name>
		<servlet-name>OrcamentoModeloExcluir</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.OrcamentoModeloExcluir</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrcamentoModeloExcluir</servlet-name>
		<url-pattern>/modelo.orcamento.excluir</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ModeloLancamentoListar</display-name>
		<servlet-name>ModeloLancamentoListar</servlet-name>
		<servlet-class>br.com.zero.controlefinanceiro.servlet.ModeloLancamentoListar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModeloLancamentoListar</servlet-name>
		<url-pattern>/modelo.lancamento.listar</url-pattern>
	</servlet-mapping>

	<!-- Filters -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>